
<div class="container mt-3 d-flex flex-column">
  <h1 class="align-self-center">Create a plant</h1>

  <%= simple_form_for [@garden, @plant] do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit class: "btn btn-success w-100 mt-3" %>
  <% end %>
</div>
